<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testsuite">
<listeners>
<listener class-name="com.extent.report.ExtendReportManager">
</listener>
</listeners>
  <test thread-count="5" name="RESTAPITest">
    <classes>
      <class name="com.api.FTValidations.LoginFTValidations"/>
    </classes>
  </test> <!-- RESTAPITest -->
</suite> <!-- TestSuite -->
